body {
    font-family: sans-serif;
    margin: 0;
    background-color: rgb(13, 22, 0);
}

/*---------------------------------------------------------------------------------------------------------------------------*/

header{
    height: 168px;
    width: 100%;
}

.cabezeraSuperior {
    display: flex;
    min-height: 70px;
    background-color: rgb(161, 255, 37);
    justify-content: left;
    align-items: center;
    padding: 10px;
}

.cabezeraSuperior a{
    margin: 0px;
    padding: 0px;
}

.Logo-Cabeza {
    width: 40%;
}

/*---------------------------------------*/

.cabezeraInferior {
    display: flex;
    background-color: rgb(186, 255, 96);
    height: 60px;
}

.menuNavegación {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: rgb(186, 255, 96);
    list-style: none;
}

.menuNavegación li {
    margin: 0px;
    padding: 5px;
}

.menuNavegación li a {
    text-decoration: none;
    color: black;
    padding: 22.5px;
    font-size: 15px;
}

.menuNavegación li a:hover {
    background: rgb(72, 127, 0);
    color: white;
}

.carritoIcono img{
    width: 35px;
    height: 35px;
    padding: 12.5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.carritoIcono img:hover{
    background: rgb(72, 127, 0);
}

.usuarioIcono img{
    width: 35px;
    height: 35px;
    padding: 12.5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.usuarioIcono img:hover{
    background: rgb(72, 127, 0);
}

/*---------------------------------------------------------------------------------------------------------------------------*/

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(../../../assets/Fondo/FondoPlantas-Oscuro.jpg);
}

/*---------------------------------------*/

.todo{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 0px;
}

.producto{
    display: flex;
    flex-direction: row;
    background-color: rgb(145, 199, 73);
    width: 100%;
    height: 100%;
    padding: 10px;
}

.selectorImagen{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 80%;
    padding: 10px;
}

.selectorImagen img{
    width: 100%;
    height: 100%;
}

.anterior{
    display: flex;
    justify-content: center;
    font-family: impact;
    font-size: 40px;
    margin: 5px;
    margin-top: 32.5%;
    width: 15%;
    height: 15%;
    padding: 11x;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.anterior:hover{
    color: rgb(157, 255, 0);
    background-color: black;
}

.siguiente{
    display: flex;
    justify-content: center;
    font-family: impact;
    font-size: 40px;
    margin: 5px;
    margin-top: 32.5%;
    width: 15%;
    height: 15%;
    padding: 11x;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.siguiente:hover{
    color: rgb(157, 255, 0);
    background-color: black;
}

/*---------------------------------------*/

.info{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 70%;
    height: 100%;
    font-weight: bold;
    font-size: 20px;
}

.nombre{
    font-family: impact;
    font-size: 40px;
}

.compra{
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 20%;
}

#agregar{
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 5px solid rgb(0, 0, 0);
    padding: 5px;
    font-family: impact;
    font-size: 60px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#agregar:hover{
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: rgb(170, 255, 0);
}

#numero{
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 5px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 5px;
    margin-right: 20px;
    font-size: 60px;
    font-family: impact;
    width: 75px;
    height: 75px;
}

/*---------------------------------------*/

.comentariosGeneral{
    display: flex;
    flex-direction: column;
    background-color: rgb(186, 255, 96);
    width: 100%;
    height: 100%;
    padding: 10px;
}

.comentar{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#usuarioNombre{
    color:#000000;
    padding-top: 5px;
    padding-right: 20px;
    font-size: 25px;
    font-weight: bold;
}

#escribirComentario{
    background-color: transparent;
    outline: none;
    width: 100%;
    height: 30px;
    border: 5px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border: 0px;
    border-bottom: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
}

::placeholder{
    color: rgb(0, 0, 0);
}

/*---------------------------------------------------------------------------------------------------------------------------*/

.pie-pagina {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 355px;
    background-color: rgb(20, 35, 0);
}

/*---------------------------------------*/

.grupo-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 355px;
    padding: 0px;
    margin: 0px;
    background-color: rgb(26, 41, 8);
}

/*----------------*/

.logoPie {
    display: flex;
    justify-content: center;
    width: 25%;
    height: 150px;
    margin-top: 75px;
    margin-right: 12.5%;
}

.logoPie img{
    width: 100%;
    height: 100%;
}

/*----------------*/

.nombreGrupo{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 200px;
    color: white;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 12.5%;
}

.nombreGrupo p{
    margin: 10px;
}

.nombreGrupo h2{
    margin: 0px;
}

/*---------------------------------------*/

.grupo-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 55px;
    padding: 0px;
    margin: 0px;
    background-color: rgb(13, 22, 0);
}

.grupo-2 p{
    padding: 20px;
    margin: 0px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}